<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Our main campus </title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ourmaincampus.css">
</head>
<body>
    <section>
            <div class="main-campus">
                <div class="main-campus_container">
                    <div class="main-campus_title">
                        <h2 class="main-campus_title_h2" >
                            Our main campus
                        </h2>
                    </div>

                    <div class="main-campus_row" data-aos="fade-up"  data-aos-duration="2500">
                        <div class="main-campus_cover-box-content">
                            <div  class="main-campus_box-content">
                                <div class="main-campus_row_courses-item" >
                                    <div class="main-campus_row_courses-item_img">
                                        <img src="/assets/images/Ourmaincampus_One_plus.png" alt="">
                                    </div>
                                </div>
                                <div class="main-campus_row_content-part">
                                    <h3 class="main-campus_row_content-part_title">
                                        One plus (+) Programing foundation
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="main-campus_cover-box-content">
                            <div class="main-campus_box-content">
                                <div class="main-campus_row_courses-item">
                                    <div class="main-campus_row_courses-item_img">
                                        <img src="/assets/images/Ourmaincampus_Two_plus.png" alt="">
                                    </div>
                                </div>
                                <div class="main-campus_row_content-part">
                                    <h3 class="main-campus_row_content-part_title">
                                        Two plus (++) Skill up to to get ready
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="main-campus_cover-box-content">
                            <div class="main-campus_box-content">
                                <div class="main-campus_row_courses-item">
                                    <div class="main-campus_row_courses-item_img">
                                        <img src="/assets/images/Ourmaincampus_Three_plus.png" alt="">
                                    </div>
                                </div>
                                <div class="main-campus_row_content-part">
                                    <h3 class="main-campus_row_content-part_title">
                                        Three plus (+++) How to become a senior
                                    </h3>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
<!-- option 2 -->
        <div class="main-campus-cover">
            <div class="main-campus-cover_item-center">
                <div class="main-campus-cover_item-center_img">
                    <img src="/assets/images/Ourmaincampus_Admission_for_2021.png" alt="">
                </div>
                <div class="main-campus-item-center_cover-content" data-aos="fade-up"  data-aos-duration="2500">
                    <div class="main-campus_item-center_cover-content_content">
                        <div class="main-campus_item-center_cover-content_content_sec-title">
                            <h2 class="main-campus_title_h2">
                                Admission for 2021
                            </h2>
                        </div>
                        <div class="desc">
                            Disclaimer: This position is expected to start around Feb 2022 and continue through the entire Summer term.
                            We ask for a minimum of 12 weeks, full-time, for most internships. Please consider before submitting an application.
                        </div>
                        <div class="desc">
                            Devplus aims to provide students the chance to work with our clients and awesome mentors to level up your programing
                            skillset in the RIGHT path. With your education and experience, you will be able to take on real-world challenges from
                            day one. 
                        </div>
                        
                    </div>
                    <div class="main-campus-item-center_cover-content_button">
                        <a class="main-campus-item-center_cover-content_button_style" href="https://stunited.typeform.com/registration" target="_blank">
                            Apply Now       
                        </a>
                    </div>
                  
                </div>
            </div> 
         </div>
    </section>
    <script>
        AOS.init();
      </script>
</body>
</html>