@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');



.main-campus {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top:94px ;
    padding-bottom: 70px;
    background: url(/assets/images/Ourmaincampus_home-8-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-campus_container{
    margin: 0px 58px 0px;
    padding: 0px 15px 0px;
    max-width: 1170px;
    width: 100%;
}

@media only screen and (min-width: 1440px){
    .main-campus{
        max-width: auto;
        width: 100%;
    }
.main-campus_container {
    max-width: 1270px;
    width: 100%;
}
}

@media only screen and (max-width: 1366px){
    .main-campus{
        max-width: 1366px;
        width: 100%;
    }
    .main-campus_container {
        max-width: 1170px;
        width: 100%;
    }
    .main-campus_row_content-part_title{
        font-size: 22px;
    }
}

@media only screen and (max-width: 1199px){
    .main-campus{
        max-width: 1199px;
        width: 100%;
    }
    .main-campus_container {
        max-width: 960px;
        width: 100%;
        } 
    .main-campus_row_content-part h3{
        font-size: 19px;
    }
   
}

@media only screen and (max-width: 991px){
    .main-campus{
        max-width: 991px;
        width: 100%;
    }
    .main-campus_container {
        max-width: 720px;
        width: 100%;
        } 
}

@media only screen and (max-width: 767px){
    .main-campus{
        max-width: 767px;
        width: 100%;
    }
    .main-campus_container {
        max-width: 540px;
        width: 100%;
        } 
}


.main-campus_title{
    margin: 0px -15px 50px;
    padding: 0 15px 0px;
}

h2.main-campus_title_h2 {
    font-family: 'Nunito', sans-serif;
    color: #111111;
    margin: 0 0 26px;
    line-height: 1.2;
    font-size: 36px;
    font-weight: 700;
}

.main-campus_row {
    margin: 0px -15px 0px;
    display: flex;
    flex-wrap: wrap;
}
.main-campus_row_courses-item_img img{
    width: 100%;
    max-width: 100%;
}
.main-campus_cover-box-content {
    margin-bottom: 30px;
    padding: 0px 15px 0px;
    max-width: 100%;
    width: 100%;
}
h3.main-campus_row_content-part_title {
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin: 0 0 26px;
    color: #111111;
    font-weight: 700;
}

@media only screen and (min-width: 768px){
    .main-campus_cover-box-content {
            flex: 0 0 auto;
            width: 50%;
        }
    }

@media only screen and (min-width: 992px){
.main-campus_cover-box-content {
    flex: 0 0 auto;
    width: 33.33333333%;
}
}

.main-campus_box-content{
    border: 1px 1px 1px 1px;
    padding: 30px;
    border: 1px solid #dfe9eb;
    border-radius: 5px;

}

.main-campus_row_courses-item_img img {
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 100%;
}



/* option2 */

.main-campus-cover{
    font-size: 15px;
    color: #505050;
    font-family: 'Rubik', sans-serif;
    line-height: 26px;
    background: #f3f8f9;
    font-weight: 400px;
}

.main-campus-cover_item-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center!important;

    margin-left: -15px;
    margin-right: -15px;
    max-width: 100%;
}

@media (min-width: 992px){
.main-campus-cover_item-center_img {
    flex: 0 0 auto;
    width: 50%;
}
}
.main-campus-cover_item-center_img img {
    max-width: 100%;
    height: auto;
}

.main-campus-item-center_cover-content{
    padding: 0px 15px 0px 105px;
    max-width: 700px;
}
@media (min-width: 992px){
.main-campus-item-center_cover-content
 {
    flex: 0 0 auto;
    width: 50%;
}
}

@media (min-width: 1200px)
{
.main-campus_title_h2 h2 {
    font-size: 2rem;
}
}
@media only screen and (max-width: 991px){
    .main-campus-item-center_cover-content {
    padding: 20px 15px 20px 30px;
}
}



.main-campus_item-center_cover-content_content{
    margin-bottom: 40px;
}

a.main-campus-item-center_cover-content_button_style{
    font-family: 'Rubik', sans-serif;
    
    color: #ffffff;
    background: #226FB7;
    padding: 16px 58px;
    border-radius: 30px;
    border: 1px solid #226FB7;

    text-transform: uppercase !important;
    display: inline-block;

    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    
}

@media only screen and (max-width: 575px){
.main-campus-item-center_cover-content_button_style {
    padding: 12px 40px;
    font-size: 15px;
}
}






 