<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <title>Devplus</title>
</head>
<body>

<div class="section-body-2">
    <div class="section-body-2__container">
        <div class="section-body-2__child">
            <div class="section-body-2__box-title">
                <div class="section-body-2__title">
                    <h2 class="section-body-2__title-content">What an engineer after Devplus will must have?</h2>
                </div>
            </div>
        </div>
        <!-- Categories Section End -->
        <!-- Popular Courses Section Start -->
        <div class="row-body2">
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="300ms">
                <div class="row-body2__item row-body2__item--fix--1">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon " src="../../../assets/images/1.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part row-body2__content-part--fix">
                        <h4 class="row-body2__content-title row-body2__title--fix">Programing foundation</h4>
                        <span class="row-body2__course">Algorithm, Design pattern</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="400ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/2.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part">
                        <h4 class="row-body2__content-title">Database</h4>
                        <span class="row-body2__course">SQL Syntax</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="500ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/3.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part">
                        <h4 class="row-body2__content-title">Testing</h4>
                        <span class="row-body2__course">Unit testing,TTD</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="300ms">
                <div class="row-body2__item ">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/4.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part row-body2__content-part--fix--46 
                                row-body2__content-part--fix--4">
                        <h4 class="row-body2__content-title row-body2__title--fix--46
                                 row-body2__content-part--fix--4">Font-End</h4>
                        <span class="row-body2__course">HTM/CSS/Js , ReactJS/VueJS</span>
                    </div>
                </div>
            </div>

            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="400ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/5.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part">
                        <h4 class="row-body2__content-title">Back-End</h4>
                        <span class="row-body2__course">PHP,NodeJS</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="500ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/6.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part row-body2__content-part--fix--46 row-body2__content-part--fix--6">
                        <h4 class="row-body2__content-title row-body2__title--fix--46 row-body2__title--fix--6"> Agile
                            Stable Team</h4>
                        <span class="row-body2__course">Agile/Scrum</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="500ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/7.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part">
                        <h4 class="row-body2__content-title">English</h4>
                        <span class="row-body2__course">Basic Conversion</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="500ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/8.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part">
                        <h4 class="row-body2__content-title">Communication</h4>
                        <span class="row-body2__course">HORENSO</span>
                    </div>
                </div>
            </div>
            <div class="fadeInUp" data-aos="fade-up" data-aos-delay="500ms">
                <div class="row-body2__item">
                    <div class="row-body2__item-icon-box">
                        <img class="row-body2__item-icon" src="../../../assets/images/9.png" alt="row-body2__item-icon">
                    </div>
                    <div class="row-body2__content-part">
                        <h4 class="row-body2__content-title">Career path</h4>
                        <span class="row-body2__course">Work ethic, Integrity</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
            once: true,
            duration: 2000
        }
    );
</script>
</body>

</html>